@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5ksol9');
  src:  url('fonts/icomoon.eot?5ksol9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?5ksol9') format('woff2'),
    url('fonts/icomoon.ttf?5ksol9') format('truetype'),
    url('fonts/icomoon.woff?5ksol9') format('woff'),
    url('fonts/icomoon.svg?5ksol9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-closex:before {
  content: "\e909";
}
.icon-blob2:before {
  content: "\e906";
}
.icon-blob3:before {
  content: "\e907";
}
.icon-blob1:before {
  content: "\e908";
}
.icon-team-blob:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-slack:before {
  content: "\f198";
}
.icon-medium:before {
  content: "\f23a";
}

@font-face {
  font-family: 'icomoon2';
  src:  url('fonts/icomoon2.eot?lx68mw');
  src:  url('fonts/icomoon2.eot?lx68mw#iefix') format('embedded-opentype'),
    url('fonts/icomoon2.ttf?lx68mw') format('truetype'),
    url('fonts/icomoon2.woff?lx68mw') format('woff'),
    url('fonts/icomoon2.svg?lx68mw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon2-"], [class*=" icon2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2-email:before {
  content: "\e900";
}
.icon2-github:before {
  content: "\eab0";
}
.icon2-linkedin2:before {
  content: "\eaca";
}
